{% extends "layouts/base.html" %} {% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<br>
<center>
    <p class="title" style="font-size:xxx-large">Login
    </p>
</center>
<div class="">
    <center>
        <div class="col-md-6">
            <div class="card">

                <form role="form" method="post" action="">

                    {% csrf_token %}

                    <div class="card-header">


                        <h6 class="card-category">
                            {% if msg %}
                            <span class="text-danger">{{ msg }}</span> {% else %} {% endif %}
                        </h6>
                    </div>

                    <div class="card-body">

                        <div class="row">
                            <h4 style="padding-left: 5%;">Username : </h4>
                            <div class="col-md-8 px-md-1">

                                <div class="form-group">
                                    {{ form.username }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <h4 style="padding-left: 5%;">Password &nbsp;: </h4>
                            <div class="col-md-8 px-md-1">
                                <div class="form-group">
                                    {{ form.password }}
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="submit" name="login" class="btn  btn-primary">submit</button> &nbsp; &nbsp; <br> Don't have an account? <a href="{% url 'register' %}" class="text-primary">Create</a>
                    </div>

                </form>

            </div>
        </div>
    </center>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}