{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<form method="POST" class="post-form" enctype="multipart/form-data">

    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <h5 class="card-category">Total Shipments</h5> -->
                            <center>
                                <h1 class="card-title">***Upload Files***</h1>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h3 class="card-title">Flair</h3>
                    <h5 class="card-category">FLAIR is an MRI sequence with an inversion recovery set to null fluids. This removes signal from the cerebrospinal fluid in the resulting images</h5>
                </div>
                <center>
                    <div class="">
                        <div class="col-md-11 px-md-1">

                            <div class="">
                                <label></label> {{form.flair}}
                            </div><br>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h3 class="card-title">T 1</h3>
                    <h5 class="card-category">T1-weighted image provides a better segmentation for brain tissues due to the high contrast between gray and white matter </h5>
                </div>
                <center>
                    <div class="">
                        <div class="col-md-11 px-md-1">

                            <div class="">
                                <label></label> {{form.t1}}

                            </div><br>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h3 class="card-title">T 2</h3>
                    <h5 class="card-category">T2 (transverse relaxation time) is the time constant which determines the rate at which excited protons reach equilibrium or go out of phase with each other.</h5>
                </div>
                <center>
                    <div class="">
                        <div class="col-md-11 px-md-1">

                            <div class="">
                                <label></label> {{form.t2}}
                            </div><br>
                        </div>
                    </div>
                </center>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h3 class="card-title">T 1-ce</h3>
                    <h5 class="card-category">T1 contrast enhancement represents an alteration in the blood brain barrier that may result from formation of pathological vascular channels or destruction of the normal capillary structure.</h5>
                </div>
                <center>
                    <div class="">
                        <div class="col-md-11 px-md-1">

                            <div class="">
                                <label></label> {{form.t1_ce}}
                            </div><br>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <center>
        <button type="submit" name="upload" class="btn btn-fill btn-primary">Submit</button> {% endblock content %}
    </center>
</form>
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

{% endblock javascripts %}