{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<form method="POST" class="post-form" enctype="multipart/form-data">

    {% csrf_token %} {{ form.as_p }}
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <!-- <h5 class="card-category">Total Shipments</h5> -->
                            <h2 class="card-title">Dashboard</h2>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartBig1"></canvas>
                </div>
            </div> -->
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h3 class="card-title">Flair</h3>
                    <h5 class="card-category">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</h5>
                </div>
                <center>
                    <div class="">
                        <div class="col-md-11 px-md-1">

                            <div class="">
                                <label></label>

                                <input class=" " id=" " name="password " required=" " type="file">

                            </div><br>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h3 class="card-title">T1</h3>
                    <h5 class="card-category">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</h5>
                </div>
                <center>
                    <div class="">
                        <div class="col-md-11 px-md-1">

                            <div class="">
                                <label></label>

                                <input class=" " id=" " name="password " required=" " type="file">

                            </div><br>
                        </div>
                    </div>
                </center>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h3 class="card-title">T2</h3>
                    <h5 class="card-category">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</h5>
                </div>
                <center>
                    <div class="">
                        <div class="col-md-11 px-md-1">

                            <div class="">
                                <label></label>

                                <input class=" " id=" " name="password " required=" " type="file">

                            </div><br>
                        </div>
                    </div>
                </center>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h3 class="card-title">T1-ce</h3>
                    <h5 class="card-category">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</h5>
                </div>
                <center>
                    <div class="">
                        <div class="col-md-11 px-md-1">

                            <div class="">
                                <label></label>

                                <input class=" " id=" " name="password " required=" " type="file">

                            </div><br>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <center>
        <button type="submit" name="upload" class="btn btn-fill btn-primary">Submit</button> {% endblock content %}
    </center>
</form>
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

{% endblock javascripts %}